.animate {
    animation-name: spin;
    animation-duration: 1s;
    animation-delay: .4s;
}

@keyframes animate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.page-content {    
     background-color: #2a10c2;
     animation-name: intro-background-intro;
     animation-duration: 2;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
 }
 @keyframes intro-background-intro {
     0% {        
         background-color: #2a10c2;
     }
     20%{
         background-color: #2a10c2;
     }
     100% {
         background-color: white;
     }
}

ScrollView {
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}