.animate {
    animation-name: spin;
    animation-duration: 1s;
    animation-delay: .4s;
}

@keyframes animate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
ActionBar {
    background-color: #f65946;
}
.page-content {    
     background-color: #fff;
     animation-name: intro-background-intro;
     animation-duration: 1;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
 }
 @keyframes intro-background-intro {
     0% {        
         background-color: #000;
     }
     100% {
         background-color: white;
     }
}

ScrollView {
  justify-content: center;
  align-items: center;
  background-image: #fff;
}