<HomeActionBar></HomeActionBar>
<FlexboxLayout class="page page-content">
    <ScrollView orientation="vertical">
        <StackLayout class="form" padding="15" width="100%" height="100%" visibility="visible" id="layoutStack"
            horizontalAlignment="center" verticalAlignment="center" orientation="vertical">
            <Image src="res://up" [ngClass]="oClass" height="200" (tap)="onOTap()"></Image>
            <Image src="res://down" [ngClass]="xClass" height="200" (tap)="onXTap()"></Image>
        </StackLayout>
    </ScrollView>
</FlexboxLayout>